@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        @if (!Model.LoggedInYandex)
        {
            @Html.ActionLink("Log in to Yandex", "LoginWithYandex")
        }
        else
        {
            <div>
                <span>Yandex access token: @Model.YandexAccessToken</span>
            </div>
            <div>
                <div>Last synced item pointer: @Model.Progress.SyncPointer</div>
            </div>
            @if (Model.Progress.IsRunning)
            {
                <div>Sync is running.</div>
            }
            else
            {
                <div>Sync is not running.</div>
                @using (Html.BeginForm("Index", "Sync", FormMethod.Get))
                {
                    <div>
                        <input type="text" name="takeoutDirPath" />
                    </div>
                    <div>
                        <input type="submit" name="submit" value="Run!" />
                    </div>
                }
            }
        }
    </div>
</div>
