@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello. Check out your Google photo albums!</p>
    <div>
        @if (!Model.LoggedInYandex)
        {
            @Html.ActionLink("Log in to Yandex", "LoginWithYandex")
        }
    </div>
    <table>
        @foreach (var albumMeta in Model.Albums.Where(x => !string.IsNullOrEmpty(x.Title)))
        {
            <tr>
                <td>
                    @Html.ActionLink(albumMeta.Title, "Album", routeValues: new { albumId = albumMeta.Id })
                </td>
                <td>
                    @if (Model.LoggedInYandex)
                    @using (Html.BeginForm("Index", "Sync", new { albumId = albumMeta.Id }))
                    {
                        <input type="submit" value="GO!" />
                    }
                </td>
            </tr>
        }
    </table>
</div>
