@model System.Collections.Generic.IReadOnlyCollection<AlbumMeta> 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello. Check out your Google photo albums!</p>
    <ul>
        @foreach (var albumMeta in Model.Where(x => !string.IsNullOrEmpty(x.Title)))
        {
            <li>
                @Html.ActionLink(albumMeta.Title, "Album", routeValues: new { albumId = albumMeta.Id })
            </li>
        }
    </ul>
</div>
